/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

div.container {
  max-width: 650px;
  margin: 0 auto;
}

h1 {
  @apply uppercase;
  @apply text-3xl;
}

h1,
h2 {
  @apply font-semibold;
}

a {
  @apply border-b-2;
  @apply border-blue-400;
}

a:hover,
a:focus {
  @apply border-blue-200;
}

a.naked:link,
a.naked:visited {
  @apply border-0;
}

@media (min-width: 767px) {
  .max-h-img {
    max-height: 150px;
  }
}

@tailwind utilities;
