<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {# <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content"> #}
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.6.0/dist/alpine.min.js" defer></script>
  </head>
  <body class="bg-gray-100 text-gray-900 text-center" x-data>
    <header class="mb-4">
      <a href="/" @mouseenter="$refs.pop.play()">Home</a> | <a href="/about/" @mouseenter="$refs.pop2.play()">About</a>
    </header>
    {{ content | safe }}
    <audio x-ref="pop">
      <source src="/audio/pop.mp3" type="audio/mpeg" />
    </audio>
    <audio x-ref="pop2">
      <source src="/audio/pop2.mp3" type="audio/mpeg" />
    </audio>
    <audio x-ref="hihi">
      <source src="/audio/hihi.mp3" type="audio/mpeg" />
    </audio>
  </body>
</html>
