<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {# <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content"> #}
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
  </head>
  <body class="bg-gray-100 text-gray-900 text-center">
    <header class="mb-4">
      <a href="/">Home</a> | <a href="/about/">About</a>
    </header>
    {{ content | safe }}
  </body>
</html>
