---
title: About your daily briefing
layout: base.njk
---

<div class="container">
  <h1>{{ title }}</h1>
  <p>It was made for you using HTML, CSS and Javascript. And served as a JAMStack site.</p>
</div>

Source:
{% for item in news %}
  <a href="/{{ item.country }}">{{ item.country }}</a>
{% endfor %}