---
title: About your daily briefing
layout: base.njk
---

<div class="container">
  <h1>{{ title }}</h1>
  <p class="mt-4">It was made for you using HTML, CSS and Javascript. And served as a JAMStack site.</p>
</div>

<p class="mt-4">
  <a href="https://github.com/spidergon/daily-briefing" target="_blank" rel="noreferrer noopener" @mouseenter="$refs.pop2.play()">code</a>
</p>