---
title: Daily briefing
layout: base.njk
pagination:
  data: news
  size: 1
  alias: selectedNews
permalink: /{{ selectedNews.country }}/index.html
---

<div class="container">
  <h1 class="uppercase">{{ title }}</h1>
  <div class="vibe">
    You are great!
  </div>
  <div class="love">
    ❤
  </div>

  <div id="weather" class="hidden">
    <h2>Weather near you</h2>
    <p id="city"></p>
    <p id="temp"></p>
    <p id="main"></p>
    <p id="desc"></p>
  </div>

  <h2 class="mt-4 mb-8">
    News in your country:
    {% for item in news %}
      {% if item.country === selectedNews.country %}
        {{ item.country }}
      {% else %}
        <a href="/{{ item.country }}">{{ item.country }}</a>
      {% endif %}
    {% endfor %}
  </h2>

  {% for article in selectedNews.articles %}
    <div class="text-center md:text-left bg-white mb-8 p-4 border-b-2 md:flex">
      <div class="md:flex-shrink-0">
        <a href="{{ article.url }}" target="_blank" rel="noreferrer noopener"><img class="max-h-img object-cover rounded-lg md:w-56" src="{{ article.urlToImage}}" alt="{{ article.title}}"></a>
      </div>
      <div class="mt-4 md:mt-0 md:ml-6">
        <a href="{{ article.url }}" class="naked block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline mb-4" target="_blank" rel="noreferrer noopener">{{ article.title }}</a>
        <span class="text-gray-600">{{ article.source.name }} - <time>{% date article.publishedAt, selectedNews.country %}</time></span>
      </div>
    </div>
  {% endfor %}

</div>
{% set js %}
  {% include "js/vibe.js" %}
  {% include "js/weather.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
